@import "../shared.scss";

.Header {
  padding: $default-top-margin
           $default-right-margin
           $default-bottom-margin
           $default-left-margin;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.Header-Content {
  background-color: $black;
  color: $white;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.Header-Top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px 0 50px;
  z-index: 20;
}
.Header-Top__Logo {
  width: 100%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  transition: opacity .25s ease;

  &:hover {
    opacity: .7;
  }
}
.Header-Top__Logo img {
  height: 3em;
}

.Header-Top__Menu {
  width: auto;
  height: auto;
  cursor: pointer;
}

.Menu-Button {
  position: relative;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;

  &:hover {
    opacity: .7;
  }

  &.active {
    .Menu-Button__Top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $black;
    }
    .Menu-Button__Middle {
      opacity: 0;
      background: $black;
    }

    .Menu-Button__Bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $black;
    }
  }

  span {
    background: $light-gray;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:  all .35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.Header-Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}
.Header-Title__Intro {
  width: 100%;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  color: $gray;
  margin-bottom: $default-bottom-margin*3;
}
.Header-Title__Intro span {
  color: $white;
}
.Header-Title__Baseline {
  @include title();
}
.Header-Title__Baseline span {
  @include accent-title();
}
.Header-Title__Clock {
  margin-top: $default-top-margin*6;
  width: auto;
  height: auto;
  overflow: hidden;
}
.Header-Title__Clock img {
  height: 8em;
}

.Header-Bottom {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 0 50px 40px 50px;
  width: 100%;
  box-sizing: border-box;
}
.Header-Bottom__Arrow {
  width: auto;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  animation: move-arrow 2s infinite;

  > div {

      width: auto;
      height: auto;
      overflow: hidden;
  }

  &:hover .Header-Bottom__Arrow-Path {
    stroke: $orange;
    stroke-width: 3.5px;
  }
}
.Header-Bottom__Arrow svg {
  height: 1em;
  padding: 30px;
  box-sizing: content-box;
}
.Header-Bottom__Arrow-Path {
  fill: none;
  stroke: $light-gray;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2.5px;
  transition: all .25s ease;
}

@keyframes move-arrow {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-10px); }
  50%  { transform: translateY(0); }
}

@media all and (orientation: portrait) and (max-width: 720px) {
  .Header-Top__Logo img {
    height: 2.5em;
  }
  .Header-Title__Intro {
    font-size: 1.5em;
  }
  .Header-Title__Baseline {
    font-size: 2.5em;
  }
  .Header-Title__Clock img {
    height: 6em;
  }
}

@media all and (orientation: portrait) and (max-width: 450px) {
  .Header-Top__Logo img {
    height: 2em;
  }
  .Header-Title__Intro {
    font-size: 1.2em;
  }
  .Header-Title__Baseline {
    font-size: 1.8em;
  }
  .Header-Title__Clock img {
    height: 5em;
  }
}

@media all and (orientation: landscape) and (max-height: 720px)  {
  .Header-Title__Intro {
    font-size: 1.5em;
    margin-bottom: $default-bottom-margin*2;
  }
  .Header-Title__Baseline {
    font-size: 2.5em;
  }
  .Header-Title__Clock {
    margin-top: $default-top-margin*3;

    img {
      height: 6em;
    }
  }
  .Header-Bottom__Arrow svg {
    padding: 0;
  }
}

@media all and (orientation: landscape) and (max-height: 600px) {
  .Header-Top {
    padding: 0 20px;
    padding-top: 30px;
  }
  .Header-Title {
    padding: 0 20px;
  }
  .Header-Bottom {
    padding: 0 20px;
    padding-bottom: 30px;
  }
  .Header-Title__Clock {
    display: none;
  }
}

@media all and (max-height: 600px) {
  .Header-Title__Clock {
    display: none;
  }
}

@media all and (max-height: 300px) {
  .Header-Title__Intro {
    font-size: 1em;
  }
  .Header-Title__Baseline {
    font-size: 1.5em;
  }
  .Header-Top__Logo img {
    height: 1.3em;
  }

  .Menu-Button {
    height: 27px * 0.6;
    width: 35px * 0.6;

    &.active {
      .Menu-Button__Top {
        transform: translateY(11px * 0.6) translateX(0) rotate(45deg);
      }

      .Menu-Button__Bottom {
        transform: translateY(-11px * 0.6) translateX(0) rotate(-45deg);
      }
    }

    span {
      &:nth-of-type(2) {
        top: 11px * 0.6;
      }

      &:nth-of-type(3) {
        top: 22px * 0.6;
      }
    }
  }
}
