@import "../shared.scss";


.Contact {
  padding: $default-top-margin
           $default-right-margin
           0 // no bottom padding
           $default-left-margin;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.Contact-Wrapper {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 100%;
}

.Contact-Content {
  padding: $default-padding;
  background-color: $black;
  color: $white;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: space-around;
  width: 100%;
}

.Contact-Title {
  @include title();
  font-size: 3.5em;
}
.Contact-Title span {
  @include accent-title();
}

.Contact-Team {
  margin-top: $default-padding-top -10;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Contact-Team__Member {
  @include pin-parent();
  display: block;
  width: 100%;
  max-width: 16em;
  background-color: #333333;
  margin: 30px;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &:hover .Contact-Team__Description {
    top: 0;
  }
}
.Contact-Team__Img {
  @include pin-content();
}
.Contact-Team__Img img {
  width: 100%;
  height: auto;
}
.Contact-Team__Description {
  @include pin-content();
  top: 100%;
  background-color: $orange-transparent;
  transition: all .25s ease;
  box-sizing: border-box;
  padding: $default-top-margin;

  h2 {
    font-size: 1.2em;
    line-height: 1em;
    font-family: $secondary-font;
    margin-top: 0.3em;
  }

  p {
    font-size: 1em;
    line-height: 1em;
    font-weight: 300;
  }
}

.Contact-Info {
  margin-top: $default-padding-top -10;
}
.Contact-Info__Tel,
.Contact-Info__Email {
  font-family: $secondary-font;
  font-size: 3em;
  text-align: center;
  font-weight: 600;
}
.Contact-Info__Tel a,
.Contact-Info__Email a {
  color: $white;
  text-decoration: none;
  line-height: 2.2em;
  transition:  all .35s ease;

  &:hover {
    color: $orange;
  }
}
.Contact-Info__Address {
  text-align: center;
}
.Contact-Info__Address p {
  color: $dark-gray;
  font-weight: 300;
  font-size: 1.4em;
  margin-bottom: 50px;
  display: inline-block;
  transition: opacity .25s ease;

  &:hover {
    opacity: .7;
  }
}
.Contact-Info__Map {
  display: flex;
  justify-content: center;

  a:hover .Contact-Info__Map-Path {
    stroke: $orange;
  }
}
.Contact-Info__Map-Path {
  fill: none;
  stroke: $light-gray;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2.5px;
  transition: all .25s ease;
}
.Contact-Info__Map svg {
  height: 3.5em;
}

@media all and (max-width: 640px) {
  .Contact-Title {
    font-size: 2.7em;
  }
  .Contact-Info__Tel,
  .Contact-Info__Email {
    font-size: 1.7em;
  }
}
