@import "../shared.scss";


.Contact {
  padding: $default-top-margin
           $default-right-margin
           $default-bottom-margin
           $default-left-margin;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.Contact-Content {
  padding: $default-padding;
  background-color: $black;
  color: $white;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: space-around;
  width: 100%;
}

.Contact-Title {
  @include title();
  font-size: 3.5em;
}
.Contact-Title span {
  @include accent-title();
}

.Contact-Team {
  margin-top: $default-padding-top;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Contact-Team__Member {
  display: block;
  width: 12em;
  height: 12em;
  background-color: #333333;
  @include pin-parent();
  margin: 30px;
}
.Contact-Team__Img {
  @include pin-content();
}
.Contact-Team__Description {
  @include pin-content();
}

.Contact-Info {
  margin-top: $default-padding-top;
}
.Contact-Info__Tel,
.Contact-Info__Email {
  font-family: $secondary-font;
  font-size: 3em;
  text-align: center;
  font-weight: 600;
}
.Contact-Info__Tel a,
.Contact-Info__Email a {
  color: $white;
  text-decoration: none;
  line-height: 2.2em;
}
.Contact-Info__Address {}
.Contact-Info__Address p {
  text-align: center;
  color: $dark-gray;
  font-weight: 300;
  font-size: 1.4em;
  margin-bottom: 50px;
}
.Contact-Info__Map {
  display: flex;
  justify-content: center;
}
.Contact-Info__Map img {
  height: 3.5em;
}

@media all and (max-width: 640px) {
  .Contact-Title {
    font-size: 2.7em;
  }
}
