@import "../shared.scss";

.Portfolio {
  // padding: $default-top-margin
  //          $default-right-margin
  //          $default-bottom-margin
  //          $default-left-margin;
  box-sizing: border-box;
}

.Portfolio-Content {
  color: $black;
  box-sizing: border-box;

    article:first-child {
      padding-top: $default-top-margin;
    }

    article:last-child {
      padding-bottom: $default-bottom-margin;
    }
}
