@import "../shared.scss";

.Portfolio {
  box-sizing: border-box;
    // padding-bottom: $default-top-margin;
}

.Portfolio-Content {
  color: $black;
  box-sizing: border-box;

  article:first-child {
    padding-top: $default-top-margin;
  }
}

@media (min-width: 961px) {
  .Portfolio-Content {
    article {
      position: -webkit-sticky;
      position: sticky;
      top: $default-top-margin;
    }

    article:first-child {
      top: 0;
    }
  }
}
