@import "../shared.scss";

.Portfolio {
  // padding: $default-top-margin
  //          $default-right-margin
  //          $default-bottom-margin
  //          $default-left-margin;
  box-sizing: border-box;
}

.Portfolio-Content {
  color: $black;
  box-sizing: border-box;
}
