@import "../shared.scss";

body.menu-open {
  position:fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body.Politiquedeconfidentialite-open {
  overflow: auto;
}

.Menu {
  padding: $default-top-margin
           $default-right-margin
           $default-bottom-margin
           $default-left-margin;
  box-sizing: border-box;
  position: fixed;
  background-color: $black;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  opacity: 0;
  visibility: hidden;

  transition:  all .35s ease;

  &.is-open {
    opacity: 1;
    visibility: visible;
  }
}

.Menu-Content {
  position: relative;
  color: $black;
  background-color: $white;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu-Content__List {
  margin: 0;
  list-style-type: none;
  padding: 0;
  font-size: 4em;
  text-align: center;
  font-family: $secondary-font;

  .Menu__Link {
    cursor: pointer;
  }

  .Menu__Contact {
    margin-top: $default-padding-side * 2;
    font-size: 0.35em;
    text-decoration: none;
    color: $gray;

    a {
      color: $gray;

      &:hover, &:focus, &:active {
        color: $orange;
      }
    }
    // TODO
  }
}
.Menu-Content__List li {
  margin: $default-padding-side;
}
.Menu-Content__List li .Menu__Link {
  text-decoration: underline;
  text-transform: lowercase;
  text-decoration-color: $orange;
  font-weight: 600;
}

@media all and (max-width: 450px), all and (max-height: 500px) {

  .Menu-Content__List {
    font-size: 2em;


    .Menu__Contact {
      margin-top: $default-padding-side;
      font-size: 0.45em;
    }
  }
  .Menu-Content__List li {
    margin: $default-padding-side / 2;
  }
}
