@import "../shared.scss";

.Project {}

.Project-Content {
  @include pin-parent();
  height: 65vw;
  max-height: 100vh;
  box-sizing: border-box;
}

.Project-Background {
  @include pin-content();
  background-size: cover;
  background-position: bottom left;

  left: $default-left-margin;
  right: $default-right-margin;
  width: auto;
}
.Project-Infos {
  @include pin-content();
  padding: $default-top-margin
           $default-right-margin
           $default-bottom-margin
           $default-left-margin;
  box-sizing: border-box;
}
.Project-Infos__Wrapper {
  height: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: stretch;

  div {
    flex-basis: auto;
  }
}
.Project-Infos__Logo {
  padding: $default-padding-side*2;
  flex-grow: 2;
  width: 50%;
}
.Project-Infos__Logo img {
  min-width: 15em;
  width: 85%;
  max-width: 35em;
  max-height: 25em;
  height: auto;
}

.Project-Infos__Description {
  flex-grow: 1;
  width: 50%;
  padding: $default-padding-side*2;

  h2 {
    font-family: $secondary-font;
    font-size: 1.7em;
    font-weight: 700;
    margin-top: 0;
    line-height: 1.2em;
  }

  p {
    font-weight: 400;
  }

  p.button {
    font-weight: 500;
    border: 1.5px solid $black;
    display: inline-block;
    margin: 0;
    transition: all .25s ease;
    box-sizing: border-box;

    @include no-selectable();

    a {
      display: block;
      padding: 8px 11px 6px 11px;
      box-sizing: border-box;

      text-transform: uppercase;
      color: $black;
      text-decoration: none;
      transition: all .25s ease;
    }

    &:hover {
      border: 1.5px solid $orange;
      a { color: $orange; }
    }
  }
}

.light .Project-Infos__Description {
  color: $white;


  ::-moz-selection,
  ::selection {
    background: $white;
    color: $black;
  }

  p.button {
    border: 1px solid;
    border-color: $white;

    a {
      color: $white;
    }

    &:hover {
      border-color: $black;
      a { color: $black; }
    }
  }
}

@media (min-width: 1920px) {
  .Project-Infos__Logo,
  .Project-Infos__Description {
    padding: 10%;
  }

  .Project-Infos__Description {

    h2 {
      font-size: 1.7em *1.3;
    }

    p {
      font-size: 1em *1.3;
    }
  }
}

@media (max-width: 960px) {
  .Project-Content,
  .Project-Background,
  .Project-Infos {
    position: relative;
  }
  .Project-Content {
    height: auto;
    max-height: none;
    padding: $default-top-margin
             $default-right-margin
             $default-bottom-margin
             $default-left-margin;
  }
  .Project-Background {
    height: 35vh;
    max-height: 100vh;
    box-sizing: border-box;
    left: 0;
    right: 0;
    padding: $default-padding-side;
    background-position: top center;

    .Project-Background__Logo{
      height: 100%;

      img {
        height: 100%;
        max-width: 100%;
      }
    }
  }
  .Project-Infos {
    padding: 0;
  }
  .Project-Infos__Wrapper {
    box-sizing: border-box;
    padding: $default-padding-side;
    flex-flow: column;
    border-top: 0;

    .Project-Infos__Logo {
      display: none;
    }
    .Project-Infos__Description {
      padding: 0;
      width: 100%;
    }
  }

  .Project-Infos__Wrapper {
    background-color: $black;
  }

  .Project-Infos__Description {
    color: $white;


    ::-moz-selection,
    ::selection {
      background: $white;
      color: $black;
    }

    p.button {
      border: 1px solid;
      border-color: $white;

      a {
        color: $white;
      }
    }
  }

  .light .Project-Infos__Description p.button,
  .Project-Infos__Description p.button {
    &:hover {
      border: 1px solid;
      border-color: $orange;
      a { color: $orange; }
    }
  }
}

@media all and (max-height: 600px) {
  .Project-Background {
    height: 12em;   // fixed size for mobile viewport
  }
}

@media (min-width: 961px) {
  .Project-Background__Logo {
    display: none;
  }
}
