// FONTS STYLES
$primary-font:    "ingra", sans-serif;
$secondary-font:  "adobe-caslon-pro", serif;

// COLORS
$black:       #2f2d2b;
$orange:      #cc5e25;
$white:       #fff;
$dark-gray:   #7a7a7a;
$gray:        #8b8a88;
$light-gray:  #b3b3b3;
